# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dash_components\dash_calendar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
